<div class="logo>"
	<!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In  -->
		<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="200px" height="200px" viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;"
	 xml:space="preserve">
			<style type="text/css">
				.st0{fill:#32BEEB;}
				.st1{fill:#FFFFFF;stroke:#333333;stroke-width:4;stroke-miterlimit:10;}
				.st2{fill:none;stroke:#333333;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
				.st3{fill:#FFFFFF;}
				.st4{fill:#FFFFFF;stroke:#333333;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
			</style>

			<defs>
			</defs>

			<circle class="st0" cx="500" cy="500" r="500"/>
			
			<g>
		<g>
			<g>
				<path class="st1" d="M612.7,458c-2.1,54.2-4.8,114.2-6.8,123.5c-3.7,17.4-22.9,26.5-22.9,66.8c0,40.3,0,221.5,0,221.5
					s-4.6,32,58.6,30.2h1.8c63.1,1.8,58.6-30.2,58.6-30.2s0-181.2,0-221.5c0-40.3-19.2-49.4-22.9-66.8c-1.6-7.8-3.8-51.7-5.8-97.8"/>
				<path class="st2" d="M672.4,483.6"/>
				<path class="st2" d="M611.8,458"/>
			</g>
			<line class="st0" x1="667.8" y1="389.7" x2="667.8" y2="398.6"/>
			<g>
				<path class="st3" d="M667.8,389.7v8.9c-0.6,0.2-1.3,0.4-2,0.6l-16.2,3.9l-0.1-0.5v-8.3l-0.2-1.4L667.8,389.7z"/>
				<path class="st3" d="M649.5,402.6l0.1,0.5l-11,2.6c-8.7,2.1-17.4-1-22.9-7.2l33.5-5.7l0.2,1.4V402.6z"/>
				<path class="st3" d="M683.2,374.8c1,10.6-5.5,20.5-15.4,23.8v-8.9l-18.5,3.1l-33.5,5.7c-3-3.4-5.1-7.6-5.8-12.5
					c-1.7-12.3,6.6-23.8,18.8-26.1l27.4-5.3C669.3,352,681.9,361.4,683.2,374.8L683.2,374.8z"/>
			</g>
			<polyline class="st4" points="667.8,384.2 667.8,398.6 674.9,414 674.9,414 674.9,485.8 641.9,494.5 610.8,466.6 613.5,398.9 
				615.7,398.5 		"/>
			<path class="st4" d="M667.8,398.6c10-3.4,16.4-13.2,15.4-23.8v0c-1.3-13.4-13.9-22.8-27.1-20.3l-27.4,5.3
				c-12.2,2.4-20.4,13.8-18.8,26.1c0.7,4.9,2.7,9.1,5.8,12.5c5.5,6.2,14.2,9.3,22.9,7.2l11-2.6l16.2-3.9
				C666.4,399,667.1,398.9,667.8,398.6z"/>
			<path class="st4" d="M649.2,392.9"/>
			<polyline class="st4" points="623.6,477.8 625.4,417.5 634.4,425.4 674.9,414 		"/>
			<polyline class="st2" points="641.9,494.2 643.7,433.7 674.9,425 		"/>
			<polygon class="st4" points="670.4,451 670.4,441 656.3,445.2 656.6,466 665.9,473.5 678.6,469.3 678.9,458.1 		"/>
			<line class="st4" x1="665.8" y1="461.7" x2="678.9" y2="458.1"/>
			<g>
				<g id="XMLID_2_">
					<g>
						<path class="st0" d="M555.6,322c-0.1-0.6-0.3-1.3-0.4-1.9l-1.6-9.1l0,0l-1.6-8.7l-2-11l-1.5-8.7l-2-11.1l-1.5-8.7l-2-11
							l-1.5-8.7l-2-11l-1.5-8.7l-2-11l-1.5-8.7l-2-11.1L531,184l-1.6-8.8c-2.2-12.5,0.7-25.1,8.1-35.4c7.5-10.4,18.6-17.2,31.3-19.3
							l0.2,0l14.9-2.4l7.1-1.2l14-2.3l7.7-1.3l13.4-2.2l8.2-1.3l8-1.3c1.7-0.3,3.4-0.5,5.2-0.6c1-0.1,1.9-0.1,2.9-0.1
							c1.7,0,3.5,0.1,5.2,0.3c5.2,0.6,10.3,2,15,4.1c4.4,2,8.4,4.6,12.1,7.8c9,8,14.5,18.9,15.6,30.8l0.9,9.4l0.8,8.8l1,11.3l0.8,8.8
							l1,11.1l0.8,8.8l1,11.1l0.8,8.8l1,11.1l0.8,8.8l1,11.3l0.8,8.8l1,11.1l0.8,8.8l0.9,10c0,0.2,0,0.4,0,0.6l0.1,9
							c-0.8,14-6.2,27-14.9,37.4l-8.1,8.2c-2.6,2.2-5.4,4.2-8.4,6l-8.6,4.4c-2.8,1.2-5.7,2.2-8.7,3l-8.8,1.8l-8.9,1.3l-8.9,1.3
							l-6.3,1c-0.9,0.1-1.7,0.2-2.6,0.3l-9,0.4c-27.9-0.6-52-18.3-60.9-43.7L555.6,322z"/>
					</g>
				</g>
			</g>
			<g>
				<g id="XMLID_1_">
					<g>
						<path class="st4" d="M630.8,374.9c-0.9,0.1-1.7,0.2-2.6,0.3l-2.4-20.7c-0.3-2.5-2.6-4.3-5.1-4c-2.5,0.3-4.3,2.5-4,5.1l2.3,20.1
							c-28.4-0.6-52.9-18.9-62-45.2c1.5-1,2.4-2.8,2.1-4.7c-0.4-2.2-2.3-3.7-4.4-3.7c-0.1-0.7-0.3-1.3-0.4-2l-1.7-9.5l0,0
							c2.5-0.5,4.1-2.9,3.6-5.4c-0.5-2.4-2.8-4.1-5.2-3.6l-2-11.4l0.9-0.2c2.5-0.5,4.1-2.9,3.6-5.3c-0.5-2.5-2.9-4.1-5.4-3.6
							l-0.7,0.1l-2-11.5l0.8-0.1c2.5-0.5,4.1-2.9,3.6-5.4c-0.5-2.5-2.9-4.1-5.4-3.6l-0.6,0.1l-2-11.4l1.6-0.3
							c2.5-0.5,4.1-2.9,3.6-5.4c-0.5-2.5-2.9-4.1-5.4-3.6l-1.4,0.3l-2-11.4l2.4-0.5c2.5-0.5,4.1-2.9,3.6-5.4
							c-0.5-2.5-2.9-4.1-5.4-3.6l-2.3,0.4l-2-11.4l3.2-0.6c2.5-0.5,4.1-2.9,3.6-5.4c-0.5-2.5-2.9-4.1-5.4-3.6l-3.1,0.6l-2-11.5
							l3.1-0.6c2.5-0.5,4.1-2.9,3.6-5.4c-0.5-2.5-2.9-4.1-5.4-3.6l-3,0.6l-1.6-9.1c-2.3-12.9,0.7-26,8.3-36.7
							c7.6-10.7,18.9-17.8,31.9-20l0.2,0l15.1-2.5l7.2-1.2l14.3-2.4l7.8-1.3l13.6-2.3l8.3-1.4l8.1-1.4c1.7-0.3,3.5-0.5,5.2-0.6
							c1-0.1,2-0.1,2.9-0.1c1.8,0,3.5,0.1,5.2,0.3c5.3,0.6,10.5,2,15.3,4.3c4.4,2,8.6,4.8,12.3,8.1c9.1,8.3,14.8,19.6,15.9,31.9
							l0.9,9.7l-37.5,7.2c-2.5,0.5-4.1,2.9-3.6,5.4c0.4,2.2,2.3,3.7,4.5,3.7c0.3,0,0.6,0,0.9-0.1l36.6-7l1.1,11.7l-35.8,6.8
							c-2.5,0.5-4.1,2.9-3.6,5.4c0.4,2.2,2.3,3.7,4.5,3.7c0.3,0,0.6,0,0.9-0.1l34.9-6.7l1,11.5l-34.9,6.7c-2.5,0.5-4.1,2.9-3.6,5.3
							c0.4,2.2,2.3,3.7,4.5,3.7c0.3,0,0.6,0,0.9-0.1l34-6.5l1,11.5l-34,6.5c-2.5,0.5-4.1,2.9-3.6,5.4c0.4,2.2,2.3,3.7,4.5,3.7
							c0.3,0,0.6,0,0.9-0.1l33.1-6.3l1,11.5l-33.1,6.3c-2.5,0.5-4.1,2.9-3.6,5.4c0.4,2.2,2.3,3.7,4.5,3.7c0.3,0,0.6,0,0.9-0.1
							l32.2-6.2l1.1,11.7l-31.4,6c-2.5,0.5-4.1,2.9-3.6,5.4c0.4,2.2,2.3,3.7,4.5,3.7c0.3,0,0.6,0,0.9-0.1l30.5-5.8l1,11.5l-30.5,5.8
							c-2.5,0.5-4.1,2.9-3.6,5.4c0.4,2.2,2.3,3.7,4.5,3.7c0.3,0,0.6,0,0.9-0.1l29.6-5.6l0.9,10.4c0,0.2,0,0.4,0,0.6l-32.3,6.2
							c-2.5,0.5-4.1,2.9-3.6,5.4c0.4,2.2,2.3,3.7,4.5,3.7c0.3,0,0.6,0,0.9-0.1l30.7-5.9c-0.8,14.5-6.3,27.9-15.2,38.7l-1.1-9.8
							c-0.3-2.5-2.5-4.3-5.1-4c-2.5,0.3-4.3,2.6-4,5.1l2,17.2c-2.7,2.3-5.5,4.4-8.5,6.2l-2.3-20.6c-0.3-2.5-2.5-4.3-5.1-4
							c-2.5,0.3-4.3,2.5-4,5.1l2.7,24.1c-2.8,1.2-5.8,2.3-8.9,3.1l-2.8-24.4c-0.3-2.5-2.6-4.3-5.1-4c-2.5,0.3-4.3,2.5-4,5.1l2.9,25.2
							l-9.1,1.4l-2.7-23.7c-0.3-2.5-2.5-4.3-5.1-4c-2.5,0.3-4.3,2.6-4,5.1l2.7,24.1L630.8,374.9z M553.6,227.2c0.1,0,0.1,0,0.2,0
							l38-1.8c0.2,0,0.4,0,0.6-0.1l59.9-11.4c2.5-0.5,4.1-2.9,3.6-5.4s-2.9-4.1-5.4-3.6l-59.6,11.4l-37.7,1.8
							c-2.5,0.1-4.5,2.3-4.3,4.8C549.2,225.2,551.2,227.2,553.6,227.2z M546.3,202.3c0.1,2.5,2.1,4.4,4.6,4.4c0.1,0,0.1,0,0.2,0
							l38-1.8c0.2,0,0.4,0,0.6-0.1l59.9-11.4c2.5-0.5,4.1-2.9,3.6-5.4c-0.5-2.5-2.9-4.1-5.4-3.6l-59.6,11.4l-37.7,1.8
							C548.1,197.6,546.2,199.7,546.3,202.3z M542.6,181.7c0.1,2.5,2.1,4.4,4.6,4.4c0.1,0,0.1,0,0.2,0l38-1.8c0.2,0,0.4,0,0.6-0.1
							l59.9-11.4c2.5-0.5,4.1-2.9,3.6-5.4c-0.5-2.5-2.9-4.1-5.4-3.6l-59.6,11.4L547,177C544.5,177.1,542.5,179.2,542.6,181.7z
							 M568.3,309.3c0.1,0,0.2,0,0.2,0l35.2-1.8c0.2,0,0.4,0,0.6-0.1l59.9-11.4c2.5-0.5,4.1-2.9,3.6-5.4c-0.5-2.5-2.9-4.1-5.4-3.6
							l-59.6,11.4l-34.9,1.8c-2.5,0.1-4.5,2.3-4.3,4.8C563.8,307.4,565.8,309.3,568.3,309.3z M567.4,325.5c0.1,2.4,2.2,4.3,4.6,4.3
							c0.1,0,0.2,0,0.3,0l31.6-1.8c0.2,0,0.4,0,0.6-0.1l59.9-11.4c2.5-0.5,4.1-2.9,3.6-5.4c-0.5-2.5-2.9-4.1-5.4-3.6l-59.7,11.4
							l-31.3,1.8C569.1,320.8,567.2,322.9,567.4,325.5z M560,284.4c0.1,2.4,2.1,4.3,4.6,4.3c0.1,0,0.2,0,0.2,0l36.1-1.8
							c0.2,0,0.4,0,0.6-0.1l59.9-11.4c2.5-0.5,4.1-2.9,3.6-5.3c-0.5-2.5-2.9-4.1-5.4-3.6l-59.6,11.4l-35.8,1.8
							C561.8,279.7,559.9,281.9,560,284.4z M556.4,263.9c0.1,2.4,2.1,4.3,4.6,4.3c0.1,0,0.2,0,0.2,0l36.1-1.8c0.2,0,0.4,0,0.6-0.1
							l59.9-11.4c2.5-0.5,4.1-2.9,3.6-5.4s-2.9-4.1-5.4-3.6l-59.6,11.4l-35.8,1.8C558.2,259.2,556.2,261.3,556.4,263.9z M558.2,247.7
							c0.1,0,0.2,0,0.2,0l36.1-1.8c0.2,0,0.4,0,0.6-0.1l59.9-11.4c2.5-0.5,4.1-2.9,3.6-5.4c-0.5-2.5-2.9-4.1-5.4-3.6l-59.6,11.4
							l-35.8,1.8c-2.5,0.1-4.5,2.3-4.3,4.8C553.7,245.8,555.8,247.7,558.2,247.7z"/>
					</g>
				</g>
			</g>
			<line class="st4" x1="665.8" y1="461.7" x2="666.1" y2="473.1"/>
			<line class="st2" x1="660.5" y1="453.4" x2="669.3" y2="450.8"/>
		</g>
		<g>
			<g>
				<g>
					<path d="M214.3,490.2v-47.3l-19.1,47.3h-2.9l-19.2-47.3v47.3h-7v-56.3h10l17.6,43.4l17.5-43.4h10v56.3H214.3z"/>
					<path d="M234.5,490.2v-56.3h7v56.3H234.5z"/>
					<path d="M252.4,462.1c0-17.3,12.7-29.1,28.9-29.1c10,0,16.9,4.7,21.4,11.1l-5.8,3.3c-3.2-4.8-9.1-8.2-15.5-8.2
						c-12.3,0-21.7,9.4-21.7,22.9c0,13.3,9.4,22.9,21.7,22.9c6.4,0,12.3-3.5,15.5-8.2l5.9,3.2c-4.7,6.5-11.5,11.2-21.4,11.2
						C265.2,491.2,252.4,479.4,252.4,462.1z"/>
					<path d="M351.7,490.2v-25.8h-32.9v25.8h-7v-56.3h7v24.2h32.9v-24.2h7v56.3H351.7z"/>
					<path d="M371.8,490.2v-56.3h7v56.3H371.8z"/>
					<path d="M389.7,462.1c0-17.6,12.9-29.1,28.9-29.1c10,0,17,4.4,21.9,10.5l-5.6,3.5c-3.5-4.6-9.5-7.8-16.3-7.8
						c-12.3,0-21.7,9.4-21.7,22.9c0,13.3,9.4,22.9,21.7,22.9c6.8,0,12.3-3.2,15.2-6.1v-11.4h-19.4v-6.2h26.3v20.3
						c-5.2,5.9-12.9,9.8-22.1,9.8C402.6,491.3,389.7,479.5,389.7,462.1z"/>
					<path d="M492.1,490.2l-5-12.6h-28l-5,12.6h-8l22.7-56.3h8.7l22.6,56.3H492.1z M473.1,441.1l-11.9,30.4h23.9L473.1,441.1z"/>
					<path d="M547.3,490.2l-32.8-44.9v44.9h-7v-56.3h7.2l32.4,44v-44h7v56.3H547.3z"/>
				</g>
				<g>
					<path d="M166.2,566.2v-45.7h24.1c8.7,0,13.2,5.6,13.2,11.7c0,5.7-3.6,9.6-7.9,10.5c4.9,0.8,8.8,5.5,8.8,11.2
						c0,6.9-4.5,12.4-13.3,12.4H166.2z M193.5,533.8c0-2.8-2.1-4.8-5.3-4.8H176v9.6h12.2C191.5,538.6,193.5,536.8,193.5,533.8z
						 M194.4,552.4c0-2.9-2.1-5.2-5.8-5.2H176v10.4h12.6C192.2,557.6,194.4,555.7,194.4,552.4z"/>
					<path d="M211.7,566.2v-45.7h32.4v8.6h-22.6v9.6h22.1v8.6h-22.1v10.4h22.6v8.6H211.7z"/>
					<path d="M251.7,566.2v-45.7H284v8.6h-22.6v9.6h22.1v8.6h-22.1v10.4H284v8.6H251.7z"/>
					<path d="M317.5,566.2l-9-16.3h-7.1v16.3h-9.7v-45.7H313c9.5,0,15.4,6.2,15.4,14.7c0,8-5.1,12.4-10.1,13.6l10.4,17.4H317.5z
						 M318.5,535.2c0-3.8-2.9-6.1-6.8-6.1h-10.3v12.3h10.3C315.5,541.4,318.5,539.1,318.5,535.2z"/>
					<path d="M350.2,559.8l5.3-7.6c3.2,3.4,8.2,6.2,14.5,6.2c5.4,0,8-2.4,8-5.1c0-8-26.3-2.4-26.3-19.6c0-7.6,6.6-13.9,17.3-13.9
						c7.3,0,13.3,2.2,17.8,6.4l-5.4,7.3c-3.7-3.4-8.6-5-13.3-5c-4.1,0-6.4,1.8-6.4,4.5c0,7.2,26.3,2.3,26.3,19.4
						c0,8.4-6,14.7-18.3,14.7C360.8,567,354.5,564.1,350.2,559.8z"/>
					<path d="M425.8,566.2v-19.3h-21.6v19.3h-9.7v-45.7h9.7v18h21.6v-18h9.8v45.7H425.8z"/>
					<path d="M442.4,543.4c0-13.8,10.1-23.7,23.9-23.7c13.8,0,23.9,9.9,23.9,23.7c0,13.8-10.1,23.7-23.9,23.7
						C452.5,567,442.4,557.2,442.4,543.4z M480.2,543.4c0-8.6-5.4-15-13.9-15c-8.5,0-13.9,6.4-13.9,15c0,8.5,5.4,15,13.9,15
						C474.8,558.4,480.2,551.9,480.2,543.4z"/>
					<path d="M530.6,566.2l-8-31.4l-8,31.4h-10.4l-13.1-45.7h10.9l8,33l8.7-33h7.6l8.6,33l8-33H554l-13,45.7H530.6z"/>
				</g>
			</g>
		</g>
			</g>
		</svg>
</div>

<div class="body">	
	<p>A <a href="https://soundcloud.com/mibeershow" target="_blank">podcast</a> and <a href="http://blog.michiganbeershow.com" target="_blank">blog</a> dedicated to the Great Lakes State's most valuable natural resource.</p>
</div>

<!-- Begin MailChimp Signup Form -->
<div class="mailchimp-signup-form">
	<style type="text/css">
		#mc_embed_signup{background:#fff; clear:left; font:14px Open Sans,Helvetica,Arial,sans-serif; }
	</style>

	<div id="mc_embed_signup">
		<form action="//michiganbeershow.us11.list-manage.com/subscribe/post?u=8bd380e589895b6449dc6e90d&amp;id=99d0e51797" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" align="center" target="_blank" novalidate>
    
	    	<div id="mc_embed_signup_scroll">
	    		<div class="row">
	    			<label for="mce-EMAIL">
						<h2>Subscribe to our mailing list</h2>
					</label>
	    		</div>
	    		<div class="row col-sm-12 col-centered email-form">
	    			<div class="signup-form form-inline">
	    				<div class="form-group">
	    					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
	    					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    					<div style="position: absolute; left: -5000px;" aria-hidden="true">
	    						<input type="text" align="center" name="b_8bd380e589895b6449dc6e90d_99d0e51797" tabindex="-1" value="">
	    					</div>
	    					<input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button">
	    				</div>
	    			</div>
	    		</div>
	    	</div>
		</form>
	</div>
</div>
<!--End mc_embed_signup-->	

<div class="latest-blog-posts">
	<p><strong>Latest blog posts</strong></p>
</div>


<!--Begin latest tracks-->
<div class="soundcloud-embedded-player">
	<iframe width="100%" height="450" align="center" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/39602775&amp;color=32beeb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>	
</div>
<!--End latest tracks-->

<footer>
	<div class="social">
		<p>Check out our <a href="http://blog.michiganbeershow.com">blog<a> | Listen: <a href="https://itunes.apple.com/us/podcast/the-michigan-beer-show/id985070913?mt=2">iTunes</a> | <a href="https://soundcloud.com/mibeershow">SoundCloud</a></p>

		<p>Connect with us: <a href="https://www.facebook.com/michiganbeershow">Facebook</a> | <a href="https://www.twitter.com/mibeershow">Twitter</a> | <a href="https://www.instagram.com/mibeershow">Instagram</a></p>
	</div>
</footer>