<%= @beers.each do |beer| %>
	<div class="beer">
		<h1><%= beer.name %></h1>
		<h4><%= beer.brewery %></h4>
		<button type="button">Show Scores</button>
	</div>
<% end %>
<div id="new-beer-form" style="display:none"></div>