<div class="row">
	<div class="large-12 columns">
		<div class="hide-for-small">
			<div id="featured">
				<img src="<%= asset_path('brandon-and-tony.jpg') %>">
				<div class="row labelrow">
					<p>We are Michigan's only podcast dedicated to its <strong>finest natural resource.</strong></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 show-for-small">
		<img src="<%= asset_path('brandon-and-tony.jpg') %>">
		<div class="row labelrow-small">
			<p>We are Michigan's only podcast dedicated to its <br><strong>finest natural resource.</strong></p>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 show-for-small">
		<a href="#" class="button expand radius primary">Subscribe on iTunes</a>
	</div>
</div>