<header class="intro">
	<img src="<%= asset_path('brandon-and-tony.png') %>" class="intro-image">
	<div class="small-3 small-centered columns">
		<img src="<%= asset_path('white-logo.png') %>" style="z-index: 100" class="main-logo">
	</div>
</header>
<div class="small-9 small-centered columns" class="intro-text">
	<h3>We are Michigan's only podcast dedicated to its <b>finest natural resource.</b></h3>
</div>
<section>
	<div class="small-4 columns">
		<a href="https:\//itunes.apple.com/us/podcast/michigan-beer-show-podcasts/id985070913">Subscribe on iTunes</a>
	</div>
	<div class="small-4 columns">
		<a href="http:\//www.stitcher.com/s?fid=39199&refid=stpr">Listen on Stitcher</a>
	</div>
	<div class="small-4 columns">
		<a href="https:\//soundcloud.com/mibeershow">Listen on Soundcloud</a>
	</div>
</section>