<div class="row">
	<div class="large-12 columns">
		<div class="hide-for-small">
			<div id="featured">
				<img src="<%= asset_path('brandon-and-tony.jpg') %>">
				<div class="row labelrow">
					<p>We are Michigan's only podcast dedicated to its <strong>finest natural resource.</strong></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="hide-for-small">
			<ul class="small-block-grid-3">
				<li><a href="https://itunes.apple.com/us/podcast/michigan-beer-show-podcasts/id985070913"><img src="http://placehold.it/410x250&text=iTunes"></a></li>
				<li><a href="http://www.stitcher.com/podcast/the-michigan-beer-show"><img src="http://placehold.it/410x250&text=Stitcher"></a></li>
				<li><a href="https://soundcloud.com/mibeershow"><img src="http://placehold.it/410x250&text=Soundcloud"></a></li>
	</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12">
		<div class="show-for-small">
			<img src="<%= asset_path('brandon-and-tony.jpg') %>">
			<div class="row labelrow-small">
				<p>We are Michigan's only podcast dedicated to its <br><strong>finest natural resource.</strong></p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12">
		<div class="show-for-small">
			<div class="small-6 columns">
				<a href="https://itunes.apple.com/us/podcast/michigan-beer-show-podcasts/id985070913"><img src="http://placehold.it/400x250&text=iTunes"></a>
			</div>
			<div class="small-6 columns">
				<a href="http://www.stitcher.com/podcast/the-michigan-beer-show"><img src="http://placehold.it/400x250&text=Stitcher"></a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12">
		<div class="show-for-small">
			<div class="small-12 columns">
				<a href="https://soundcloud.com/mibeershow"><img src="http://placehold.it/800x400&text=Soundcloud"></a>
			</div>
		</div>
	</div>
</div>